.logo {
    border: 1px solid black;
    border-radius: 15px;
    height: 200px;
    width: 400px;
    margin:0 auto;
    margin-top: 10px;
}

.logo img {
    height: 200px;
    width: auto;
}

* {margin:0;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}


.slidebox {
    max-width:1500px;margin:0 auto;position:relative; text-align: center;}

.slidebox .slidelist {
    position:relative;
    white-space:nowrap;
    font-size:0;overflow:hidden;
}

.slidebox .slidelist .slideitem {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    background-color: white;
    width:1500px;
    transition:all 0.5s;
    margin: 10px 0px 10px 0px;
}


.slidebox .slidelist .slideitem > a {
    display:block;
    width:auto;
    position:relative;
}

.slidebox .slidelist .slideitem > a img {
    max-width:100%;
}

.slidebox .slide-control [class*="control"] label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}

.slidebox .slide-control [class*="control"] label.prev {
    left:-50px;
    transition: 0.2s all ease;
    background:#333 url('./img/left-arrow.png') center center / 50% no-repeat;
}

.slidebox .slide-control [class*="control"] label.prev:hover {
    left:-50px;
    -webkit-transition: 0.2s all ease;
    background:rgb(71, 67, 67) url('./img/left-arrow.png') center center / 50% no-repeat;
}

.slidebox .slide-control [class*="control"] label.next {
    right:-50px;
    transition: 0.2s all ease;
    background:#333 url('./img/right-arrow.png') center center / 50% no-repeat;
}

.slidebox .slide-control [class*="control"] label.next:hover {
    right:-50px;
    -webkit-transition: 0.2s all ease;
    background:rgb(71, 67, 67) url('./img/right-arrow.png') center center / 50% no-repeat;
}


[name="slide"] {
    display:none;
}
#slide01:checked ~ .slidelist .slideitem {
    left:0;
}

#slide02:checked ~ .slidelist .slideitem {
    left:-100%;
}

#slide03:checked ~ .slidelist .slideitem {
    left:-200%;
}

.slide-control [class*="control"] {
    display:none;

}

#slide01:checked ~ .slide-control .control01 {
    display:block;
}

#slide02:checked ~ .slide-control .control02 {
    display:block;
}

#slide03:checked ~ .slide-control .control03 {
    display:block;
}

#main_box {
    border: 1px solid black;
    text-align: center;
}

table {
    display:inline-block;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
}
th {
    border: 2px solid black;
    width: 300px;
    height: 150px;
}

th img {
    width: 300px;
    height: 150px;
}

#best_game {
    float: left;
    margin-top: 30px;
    width: 300px;
    height: 450px;
    border: 2px solid black;
    top: 50px;
}

#lately_game {
    float: right;
    margin-top: 30px;
    width: 300px;
    height: 454px;
    border: 2px solid black;
    top: 50px;
}