.logo {
    border-radius: 15px;
    height: 200px;
    width: 400px;
    margin:0 auto;
    margin-top: 10px;
}

.logo img {
    height: 200px;
    width: auto;
}

#teemo {
    position: relative;
    width: 300px;
    left: -10%;
}

#ash {
    position: relative;
    width: 300px;
    bottom: -80%;
    left: 7.6%;
}

* {margin:0;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}

#mainImg {
    width: 300px;
    margin-top: -120px;
    margin-bottom: -100px;
    margin-left: 200px;
}

.main_box{
    width: 700px;   
    height: 700px;
    background-color: rgb(255, 174, 201);
    border-radius: 15px;
    position: absolute;
    left: 0; right: 0;
    margin-left:auto;  
    margin-right:auto;
    top: 0; bottom: 0;
    margin-top: 220px;  
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}
#result {
    margin: 50px 20px 0px 20px;
    height: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    line-height: 100px;
}

#button {
    margin: 10px 20px 0px 20px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    line-height: 100px;
}

button {
    width: 100px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    border-radius: 15px;
    border: 0px;
    box-shadow: 3px 3px rgb(155, 80, 105);
    cursor: pointer;
}

.btn {font-size: 18px; 
    white-space:nowrap; 
    width: 150px;
    height: 45px;
    padding:.8em 1.5em;
    font-family: Open Sans, Helvetica,Arial,sans-serif; 
    line-height:18px; 
    display: inline-block;zoom: 1; 
    color: black; text-align: center; 
    position:relative; 
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; 
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.btn.btn-sunflower{background-color: white; border-color: transparent; 
    -webkit-box-shadow: 0 3px 0 rgb(165, 87, 113); 
    box-shadow: 0 3px 0 rgb(165, 87, 113)
}

.btn.btn-sunflower:hover{
    background-color:rgb(255, 225, 235);
}

.btn.btn-sunflower:active{
    top: 3px; 
    outline: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
}


p {
    display: none;
}

